.toolbar {
  display: flex;
}

.label-title {
  font-family: var(--poppins);
  margin-left: 25%;
}

.cart-main-container {
  background: linear-gradient(#ff7d04, #ec540d) !important;
  transform-origin: top;
  transform: scaleY(0);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  animation: fadeIn 0.5s ease forwards;
}

.cart-main {
  max-height: 20rem;
  overflow-y: auto;
  padding: 1rem;
  opacity: 0;
  transform: translateY(20rem);
  animation: fadeAndSlide 0.5s ease-out forwards;
}

.card-container-food {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 0.5rem 0rem rgba(0, 0, 0, 0.753);
  transition: transform 0.3s ease;
}

.card-container-food:hover {
  transform: scale(1.1);
  background-color: var(--ion-tab-bar-background);
  box-shadow: 0 0 0.5rem 0rem rgba(0, 0, 0, 0.9);
}
.card-container-food:hover .total-product-container {
  background-color: #fdb382;
}

.card-container-food:hover .icon-container-food {
  background-color: #fdb382;
}

.btn-options-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  visibility: visible;
  right: -4vw;
  bottom: 0;
  top: -2vh;
  visibility: hidden;
}

.card-container-food:hover .btn-options-container {
  visibility: visible;
}

.btn-delete-order {
  font-size: 1.2em;
  margin-right: 1rem;
  color: red;
  border-radius: 1rem;
  background-color: #f7aa77;
}

.total-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(30%);
  margin-right: 0.5rem;
  padding: 1rem;
  background-color: #f7aa77;
  color: black;
}

.total-product {
  font-weight: bold;
}

.card-food {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1rem;
  padding-right: 0.7rem;
}

.card-description-food {
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
}
.title-food-cart {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.726);
  font-size: 0.8rem !important;
  text-align: left;
}

.price-food {
  font-size: 1rem;
  text-align: left;
  color: black;
}
.title-food-cart,
.price-food {
  margin: 0 !important;
  padding: 0 !important;
}

.card-container-food:hover .price-food {
  color: white;
}
.card-container-food:hover .title-food-cart {
  color: white;
}
.card-container-food:hover .total-product {
  color: var(--ion-tab-bar-background);
}
.limit-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-container-food {
  background-color: black;
  width: 4rem;
  height: 3.5rem;
  clip-path: circle(45%);
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container-food img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 0.4rem;
  background-color: #ffffff;
  box-shadow: 0 0 0.5rem 0rem rgba(0, 0, 0, 0.753);
  color: black;
  margin: 2rem;
}

.cart-total-container h4 {
  font-size: 1rem;
  margin: 0.5rem;
}

.cart-total-container h5 {
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: bold;
}

.btn-pay-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 3rem;
}

.btn-whats-container {
  display: flex;
  background-color: #ec540d;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
  font-family: var(--poppins);
}
.text-got {
  font-size: 0.9rem;
  margin-left: 2vw;
  color: white;
}
.btn-whats {
  font-size: 3rem;
  padding: 0.9rem;
  color: white;
}

.btn-whats-container:hover {
  transform: scale(1.1);
}
