.main-cupon-container {
  position: relative;
  height: 100vh;
  z-index: -2;
  background-color: var(--ion-tab-bar-background);
}
.cupon-container {
  display: flex;
  flex-direction: column;
}
.head-cupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}

.head-cupon h1,
h2 {
  font-family: var(--poppins);
  margin: 0;
}

.head-cupon h1 {
  font-size: 1.7em;
  color: white;
}
.head-cupon h2 {
  font-size: 3.7em;
  font-weight: bold;
  color: black;
}
.video-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #161616;
  width: 100vw;
  top: 20vh;
  padding-bottom: 45vh;
  padding-top: 8vh;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: -1;
}

video {
  width: 100vw;
  height: 35vh;
  object-fit: cover;
}

.btn-generate-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 17vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-generate-container span {
  font-family: var(--poppins);
  font-size: 0.9em;
  margin-bottom: 1rem;
  font-size: 0.9em;
}
.btn-generate-container .span-m {
  color: white;
}
.btn-generate-container input {
  margin-bottom: 1rem;
}

.btn-generate {
  display: flex;
  justify-content: center;
  background-color: var(--ion-tab-bar-background);
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.btn-generate[disabled] {
  filter: brightness(0.5);
  color: white;
  cursor: not-allowed;
}
.btn-cupon-info {
  display: flex;
  align-items: center;
  height: 2vh;
}

.btn-cupon-info img {
  width: 6vw;
  height: 3.5vh;
  margin-right: 4vw;
}
.btn-cupon-info p {
  font-size: 1.2em;
}
