.main-ctn {
  display: flex;
  flex-direction: column;
  font-family: var(--poppins);
}

.head-containaer-1 {
  width: 100%;
  height: 15vh;
  background-color: var(--ion-tab-bar-background);
}

.head-containaer-2 {
  position: relative;
  width: 100%;
  height: 15vh;
  background-color: white;
}
.pencil {
  position: absolute;
  font-size: 2em;
  color: black;
  right: 0;
  bottom: 0;
  margin-right: 4vw;
}
.profile-data-container {
  position: absolute;
  display: flex;
  justify-content: left;
  width: 40vw;
  height: 20vh;
  margin-top: -10vh;
  margin-left: 1rem;
}

.profile-image {
  clip-path: circle(40%);
  object-fit: cover;
}

.user-name {
  position: absolute;
  color: black;
  font-size: 0.9em;
  margin-left: 7vw;
  bottom: 2vh;
  font-style: italic;
  top: 7vh;
}

.my-account {
  font-style: italic;
  margin: 1rem;
  margin-top: 2rem;
}

.detail-account {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}

.detail-title h5,
h3 {
  margin: 0;
}

.detail-title h5 {
  font-size: 0.8em;
}
.detail-title h3 {
  font-size: 1.7em;
}
.ponits-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.points-icon {
  width: 8vw;
  height: 4vh;
  margin-right: 7vw;
}

.points h5 {
  font-size: 0.6em;
  margin: 0;
}

.points h3 {
  margin: 0;
  font-size: 1.3em;
}

.btn-add-inbody-container {
  margin-top: 1rem;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}
.btn-add-inbody {
  display: flex;
  align-items: center;
  padding: 1.1rem;
  justify-content: center;
  width: 90%;
  background-color: var(--ion-tab-bar-background);
  border-radius: 0.3rem;
}

.btn-add-inbody h5 {
  font-size: 0.9em;
}

.schedule-icon {
  margin-top: 0.1vh;
  padding: 0.2em;
  width: 7vw;
  height: 3vh;
  margin-right: 2vw;
}

.memberships {
  margin-top: 8vh;
}

.memberships h1 {
  margin-bottom: 0;
  font-size: 1.7em;
}
.memberships h2 {
  margin-top: 0;
  font-size: 0.8em;
}

.btn-close-container {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-family: var(--poppins);
}

.btn-close {
  position: absolute;
  bottom: 3vh;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  width: 40%;
  background-color: var(--ion-tab-bar-background);
  border-radius: 0.3rem;
}

/* UPDATEpROFILE*/
.btn-close-update-container {
  display: flex;
  justify-content: right;
  margin: 3vw;
}
.btn-close-update {
  font-size: 2em;
}
.title-up {
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 1.5vw;
  width: 70%;
  height: 6vh;
  background-color: var(--ion-tab-bar-background);
  font-size: 1.3em;
  font-family: var(--poppins);
}
.input-up-container {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
}

ion-input {
  height: 4vh;
  border: 1px solid orangered;
  border-radius: 0.2rem;
  background-color: var(--transparent);
}

.change-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.add-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-card-container h5 {
  font-size: 1em;
  margin-left: 3vw;
}
.change-pass-container h5 {
  font-size: 1em;
  margin-left: 3vw;
}

.current-card-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vh;
}

.btn-up-dta {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  width: 50%;
  background-color: var(--ion-tab-bar-background);
  border-radius: 0.3rem;
}

/* CARD STATE */

.card-list-container {
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.card-number-container {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 0.9em;
}
.far-Icon {
  color: var(--ion-tab-bar-background);
  margin-right: 3vw;
}

.far-Icon-non-active {
  color: red;
  margin-right: 3vw;
}
.card-number-container h5 {
  font-size: 0.9em;
  margin-left: 3vw;
  color: var(--ion-tab-bar-background);
}
