#titulo1{
    font-size:1.4rem;
    margin-top:5rem;
    text-align:center; 
}
#titulo2{
    font-size:7.5rem;
    margin-top:1rem;
    text-align:center;
    letter-spacing:6px
}
#imgWifi{
    margin-top:1rem;
    width:70%;
    margin-left:3.5rem
}
#nombreRed,#password2{
    text-align: center;
}
#nombreRed h6{
    font-size: 1.5rem;
}
#nombreRed span{
    font-size: 1.3rem;
    color:var(--naranja1);
}
#password2 h6{
    font-size: 1.5rem;
  
}
#password2 span{
    position: relative;
    top:1.5rem;
    font-size: 1.3rem;
    border:2px solid var(--naranja1);
    border-radius: 12px;
    padding:1rem;
    letter-spacing: 3px;
}
