

.noticias{
    margin-top: 3rem;
    margin-left: 2rem;
}
.noticias h4{
    text-align: left;
    letter-spacing: 4px;
    font-size: 1.8rem;
}
.slide{
    border:1px solid white;
    height:15rem;
}