.btn_tarjeta{
    margin-top:2rem;
    text-align: center;
}

.btn_tarjeta ion-button{

    --background:none;
    --color:white;
    --border-color:var(--naranja1) ;
    width:40%;
    font-size: 1rem;
}
.btn_tarjeta img{
    width:20%;
}
.btn_tarjeta span{
   margin-left: 1rem;
   text-transform: capitalize;
}