.whatsContainer{

    position:relative;
    top: 10rem;
    
    min-height: 2vh;
}



.fondoWhats img
{
    position:fixed;
    left:21.5rem;
    width:12%;
    top:44rem;
}

.whats img{
    width:8%;
   position: fixed;
   left:22rem;
   top:44.5rem;

   
   
}