@import url("https://fonts.cdnfonts.com/css/kenyan-coffee");
@import url("https://fonts.cdnfonts.com/css/poppins");
:root {
  --kenyan: "Kenyan Coffee", sans-serif;
  --poppins: "Poppins", sans-serif;
  --naranja1: #ff4804;
}
body {
  --ion-background-color: #1c1c1c;
  --ion-text-color: #ffffff;
  --ion-tab-bar-background: #ff4804;
  --ion-text-orange-color: #ff9104;
  --ion-button-orange: #ff6831;
  --ion-gray-background: #444242;
}
.kenyan {
  font-family: var(--kenyan);
}
.poppins {
  font-family: var(--poppins);
}

ion-button {
  --background: var(--naranja1);
  font-weight: bold;
}
ion-tabs {
  border-radius: 100px;
  color: white;
}

/* Animations */
@keyframes fadeAndSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* shimmer template*/

.shimmer-template {
  padding: 0.5rem;
  clip-path: circle(50% at center);
background-color: white;
  animation: shimmerAnimation 2s ease-in-out  alternate-reverse infinite;
}

@keyframes shimmerAnimation {
  0% {
    background-position: -200% 0;
    opacity: 0.6;
  }
  50% {
    background-position: 200% 0;
    opacity: 1;
  }
  100% {
    background-position: -200% 0;
    opacity: 0.6;
  }
}

