.main-contaier {
  margin-left: 3vh;
  margin-right: 3vh;
}

.header-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background: linear-gradient(#ff7d04, #ec540d) !important;
  border-bottom-left-radius: 4rem;
  font-family: var(--poppins);
  padding: 2vh;
}
.header-info {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-title-1 {
  font-size: 1.8em;
}
.progresbar-line {
  display: flex;
  justify-content: center;
  margin-left: 9vh;
  margin-right: 9vh;
}
.custom-pg {
  height: 0.2em;
}
.header-title-2 {
  font-style: italic;
  margin-top: 0;
  font-size: 2.5em;
  font-weight: bold;
}

.card-container {
  border: 1px solid orangered;
  margin: 1rem;
  border-radius: 1rem;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeAndSlide 0.5s ease-out forwards;
}

.card:nth-child(n) {
  animation-delay: calc(0.2s * (n - 1));
}

.card {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1rem;
  padding-right: 0.7rem;
}
.card-description {
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}
.title {
  font-family: var(--poppins) !important;
  font-size: 1em !important;
  text-align: left;
  color: #ff4804 !important;
}

.description {
  font-family: var(--poppins) !important;
  font-size: 0.8em;
  text-align: left;
}
.title,
.description {
  margin: 0;
  padding: 0;
}

.limit-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-ctn {
  width: 4rem;
  height: 3rem;
  padding: 0rem;
}

.icon_type_food {
  
  border-radius: 1.2rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.icon_type_food-2 {
  
  border-radius: 1.2rem;
  object-fit: cover;
  width: 80%;
  height: 100%;
}

.error {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 17px;
  text-align: left;
  margin-top: 1rem;
}
