.card-container {
  border: 1px solid orangered;
  padding: 0.1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.card {
  display: flex;
  justify-content: space-evenly;;
}
.card-description {
  margin-left: 0Srem;
  text-align: left;
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
  text-align: left;
}

.description {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 15px;
  text-align: left;
}
.limit-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.icon_type_food {
  width: 2.5rem;
  clip-path: circle(40%);
}
