.btn_codigoQR{
    margin-top:2rem;
    text-align: center;
}

.btn_codigoQR ion-button{

    --background:none;
    --color:white;
    --border-color:var(--naranja1);
    width:40%;
    font-size: 1rem;
}
.btn_codigoQR img{
    width:20%;
}
.btn_codigoQR span{
   margin-left: 1rem;
   text-transform: capitalize;
}