.btn_codigoQR {
  margin-top: 2rem;
  text-align: center;
}

.btn_codigoQR ion-button {
  --background: none;

  --border-color: var(--naranja1);
  width: 50%;
  font-size: 1rem;
}

.btn_codigoQR ion-button span {
  color: white;
  font-size: 1rem;
}

.btn_codigoQR img {
  width: 20%;
}



.btn_codigoQR span {
  margin-left: 1rem;
  text-transform: capitalize;
}

/*GOD*/

.qr-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
}
.qr-c {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  gap: 1rem;
}
.qr-c p,
h3 {
  font-family: var(--poppins);
}
.qr-c h1 {
  font-size: 2.5em;
  font-style: italic;
}
.qr-c h3 {
  font-size: 1rem;
  font-weight: bold;
}
.qr-c p {
  text-align: center;
  font-size: 0.8rem;
}
.qr-c video {
  margin-top: 1rem;
  height: 27vh;
  width: 100%;
}
