

.noticias{
    margin-top: 3rem;

}
.noticias h4{
    text-align: left;
    letter-spacing: 4px;
    margin-left: 1.5rem;
    font-size: 2rem;
}
.swiper{
    text-align: center;
}
.slide img{
    width:70%;
    
}