.contenidoTarjetas {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  background-color: black;
  height: 50vh;
}

.contenidoTarjetas ion-button {
  margin-top: 5rem;
  margin-left: 5rem;
}
.altaTarjetas ion-input {
  background-color: white;
  color: black;
  text-align: center;
}
#btn_guardarTarjeta {
  margin-left: 7rem;
}
#alertaTarjeta {
  font-weight: 600;
  color: red;
}
#btn_salir {
  margin-left: 8rem;
}
