.head-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content{
  margin-left: 5vw;
  margin-right: 5vw;
}
.welcome-logo {
  margin-top: 4vh;
  width: 30%;
}
.welcome-video {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  height: 30vh;
  

}

.welcome-video video {
  width: inherit;
  height: inherit;
  border-radius: 1rem;
}
