.head-info-container {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}
.content {
  margin-left: 5vw;
  margin-right: 5vw;
}
.welcome-logo {
  margin-top: 4vh;
}
.welcome-video {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  height: 30vh;
}
.welcome-video div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  background-color: black;
  
}

.welcome-video video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 1rem;
}
