.pp-main-container {
  font-family: var(--poppins);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  margin-bottom: 5vh;
}
.pp-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.pp-title h1 {
  font-weight: bold;
}

.pp-title h3 {
  font-size: 1em;
  font-weight: bold;
}
.pp-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  background-color: var(--naranja1);
  margin-bottom: 2rem;
  margin-top: 2vw;
  border-radius: 1.5rem;
  text-align: center;
  margin-right: 9vw;
  margin-left: 9vw;
  opacity: 0.7;
  transition: margin 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}
.pp-card:hover {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 10vh;
  opacity: 1;
}

.pts-container {
  position: absolute;
  top: -5vh;
  padding: 2vw;
  left: -5vw;
}

.pp-card:hover .pts-container {
  top: -6vh;
  left: -6vw;
}

.pts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 8vh;
  background-color: white;
  font-style: var(--poppins);
  color: var(--naranja1);
  clip-path: circle(7vw at center);
}

.pts-font {
  font-size: 0.8em;
}
.pp-card:hover .pts-font {
  font-size: 0.9em;
}

.pp-card-font {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  margin: 0;
  font-size: 0.6em;
  transition: font-size 0.5s ease;
}

.pp-card:hover .pp-card-font {
  -webkit-line-clamp: 5;
  font-size: 0.8em;
}

.pp-card h3 {
  font-weight: bold;
}

/*  History*/
.isActive {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 1vh;
  
}
.isActive img {
  width: 25vw;
  margin-bottom: 2vh;
}

.isActive div{
  position: absolute;
  left: 0;
  top: 0rem;
  font-size: 3em;
  color: white;
  animation: shimmerAnimation 1.5s infinite;
}

.mh{
  text-align: center;
  width: 100vw;
  border-radius: 1rem;
  margin-bottom: 2vh;
}
.mh .title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  margin-bottom: 2vh;
  background-color: orangered;
}

section ion-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  border-bottom: solid white 1px;
}

.hdetail {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5vw;
  background-color: rgba(0, 0, 0, 0.322);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.hdetail h1,
p {
  font-size: 0.7em;
}
