.food-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--ion-tab-bar-background) !important;
  margin-top: 4rem;
  border-radius: 8rem;;
  height: 33rem;
  width: 12rem;
}
.image-container-food {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  background-color: rgb(223, 213, 202);
  clip-path: circle(40% at center);
  padding: 2rem;
}
.image-food {
  width: 11rem;
  height: 11rem;
}
.title-list-food {
  font-family: var(--poppins);
  font-size: 3.5rem;
  color: var(--ion-tab-bar-background);
}
