.main-fl-container {
  /*TODO*/
}

.food-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#ff9104, #f52204);
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 32vw;
  border-radius: 26vw;
  height: 65vh;
  width: 29vh;
  position: relative;
}

.add-to-cart {
  position: absolute;
  top: 22vh;
  margin-left: 31vh;
  background-color: white;
  clip-path: circle(25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart img {
  width: 12vh;
  padding: 4vh;
}

.image-container-food {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vh;
  width: 35vh;
  height: 30vh;
  background-color: #fdb382;
  clip-path: circle(40% at center);
  padding: 0.1vh;
}

.image-container-food-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vh;
  width: 35vh;
  height: 30vh;
  background-color: #fdb382;
  clip-path: circle(40% at center);
  padding: 1vh;
}

.image-container-food img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.title-list-food {
  font-family: var(--poppins);
  font-size: 1.1rem;
  margin-top: 1vh;
  margin-bottom: 0;
  margin-left: 7vw;
}
.sub-title-list-food {
  font-family: var(--poppins);
  font-size: 3rem;
  margin-top: 0;
  margin-left: 7vw;
  color: var(--ion-tab-bar-background);
}

.description-info-container {
  width: 23vh;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}
.description-list-food {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.text-categoria {
  font-family: var(--poppins) !important;
  font-size: 0.8rem !important;
  margin: 0;
  text-align: left;
  color: var(--ion-text-orange-color);
}

.text-name-food {
  font-family: var(--poppins) !important;
  font-size: 1.2em;
  margin-top: 0.8vh;
  text-align: left;
}
.price-container {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 4vh;
}
.text-price-food {
  font-family: var(--poppins);
  font-weight: bold;
  font-size: 4em;
  margin: 0;
}
.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 1rem;
  margin: 0;
  letter-spacing: 0.1rem;
  transform: scalex(-1);
}

.got-cart {
  margin-top: 7vh;
  margin-bottom: 7vh;
  float: right;
  margin-right: 2rem;
}

.got-cart img {
  width: 17vw;
  padding: 4vw;
}
