.card-container-h {
  height: 27rem;
  display: flex;
  overflow-x: auto;
}

.card-container-h::-webkit-scrollbar {
  width: 0;
}
.card-h {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  height: 25rem;
  min-width: 10rem;
  padding: 0.2rem;
  text-align: center;
  background-color: #ff4804;
  margin-right: 2rem;
  margin-top: 2rem;
  border-top-left-radius: 7rem;
  border-top-right-radius: 7rem;
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
}
.card-h .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.card-img {
  width: 10rem;
  clip-path: circle(50% at center);
}

.card-h .card-text {
  flex-grow: 1; /* Permite que el contenido de card-text ocupe el resto del espacio vertical */
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.text-categoria {
  display: flex; /* Crea un contenedor flexible para los elementos de categoría */
  flex-direction: column; /* Alinea los elementos verticalmente */
}
.title {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 17px;
  text-align: left;
  color: white;
}

.sub-title {
    margin-bottom: 1rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 15px;
    text-align: left;
    color: rgb(243, 235, 233);
  }

.price {
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
  font-weight: bold;
  font-size: 3rem;
}
