.main-container-food {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 1vh;
}
.container-food {
  width: 100%;
}
.food-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5vh;
  background: url("./images/bg_food_detail.png");
  /* background: url("./images/bg_food_detail.png");*/
  background-position: center;
  background-size: 30vh;
  background-repeat: no-repeat;
  width: 80vw; /* Tama単o del contenedor */
  height: 30vh; /* Tama単o del contenedor */
  padding: 5vh;
}
.food-image-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5vh;
  background: url("./images/bg_food_detail.png");
  /* background: url("./images/bg_food_detail.png");*/
  background-position: center;
  background-size: 30vh;
  background-repeat: no-repeat;
  width: 80vw; /* Tama単o del contenedor */
  height: 30vh; /* Tama単o del contenedor */
  padding: 0vh;
}

.img-food-detail {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.food-description-container {
  font-family: var(--poppins);
  display: flex;
  height: 15rem;
  flex-direction: column;
  align-items: start;
}
.title-food {
  /*TODO*/
  font-weight: bold;
}

.categoria-food {
  display: flex;
  flex-direction: column;
}

.categoria-food h5 {
  font-size: 0.9rem;
  margin: 0rem;
}

.description-food {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}

.car-options-container {
  display: flex;
  width: 100%;
  margin: 1rem;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.car {
  margin-top: 0.5rem;
  width: 3rem;
  padding: 0.5rem;
  background-color: var(--ion-tab-bar-background);
  clip-path: circle(50%);
}
.btn-container {
  width: 12rem;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-button-orange);
  padding: 0.5rem;
  border-radius: 5rem;
}
.btn-info {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}
.car-img {
  width: 15%;
  margin-right: 0.5rem;
}
