.main-container-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  padding-top: 10vh;
  opacity: 0;
  font-family: var(--poppins);
  transform: translateY(20px);
  animation: fadeAndSlide 1s ease-out forwards;
}
.container-food {
  width: 100%;
}
.food-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5vh;
  background: url("./images/bg_food_detail.png");
  /* background: url("./images/bg_food_detail.png");*/
  background-position: center;
  background-size: 30vh;
  background-repeat: no-repeat;
  width: 80vw; /* Tamaño del contenedor */
  height: 30vh; /* Tamaño del contenedor */
  padding: 5vh;
}
.food-image-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5vh;
  background: url("./images/bg_food_detail.png");
  /* background: url("./images/bg_food_detail.png");*/
  background-position: center;
  background-size: 30vh;
  background-repeat: no-repeat;
  width: 80vw; /* Tamaño del contenedor */
  height: 30vh; /* Tamaño del contenedor */
  padding: 0vh;
}

.img-food-detail {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.food-description-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
  margin-right: 1rem;
}
.title-food {
  /*TODO*/
  font-weight: bold;
}

.categoria-food {
  display: flex;
  flex-direction: column;
}

.categoria-food h5 {
  font-size: 0.9rem;
  margin: 0rem;
}

.description-food {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}

/*CHECKBOX*/

.add-complement-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5vw;
  margin-right: 15vw;
}

input[type="checkbox"] {
  appearance: none; /* Desactivar el estilo nativo del checkbox */
  width: 20px;
  height: 20px;
  margin-left: 5%;
  border: 2px solid var(--ion-tab-bar-background); /* Contorno para el checkbox no seleccionado */
  border-radius: 4rem; /* Bordes redondeados */
}

/* Estilos para el checkbox seleccionado */
input[type="checkbox"]:checked {
  background-color: var(
    --ion-tab-bar-background
  ); /* Cambiar el fondo cuando está seleccionado */
  background-image: url("./images/check.png"); /* Ruta a tu archivo de icono */
  background-size: 16px; /* Ajustar el tamaño del icono */
  background-position: center; /* Posicionar el icono en el centro */
  background-repeat: no-repeat;
}

/*ADD TO CART*/
.car-options-container {
  position: fixed;
  display: flex;
  bottom: 0;
  padding-top: 2vh;
  padding-bottom: 3vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ion-background-color);
  border-top: 1px solid var(--ion-background-color-2);
  border-left: 1px solid var(--ion-background-color-2);
  border-right: 1px solid var(--ion-background-color-2);

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  z-index: 4;
}

.add-to-cart-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-family: var(--poppins);
  font-size: 1em;
  border-radius: 0.5rem;
  margin-right: 3vw;
  background-color: var(--ion-tab-bar-background);
}
.car {
  margin-top: 0.5rem;
  width: 3rem;
  padding: 0.5rem;
  background-color: var(--ion-tab-bar-background);
  clip-path: circle(50%);
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.288);
  margin-left: 2vw;
  border-radius: 0.5rem;
}
.btn-info {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  color: #08534f;
  padding: 0.5rem;
  border-radius: 1rem;
}
.car-img {
  width: 15%;
  margin-right: 0.5rem;
}
